.cinematv-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--staat);
  padding-top: 150px;
}
.cine-header-wrapper {
  text-align: center;
  padding-bottom: 50px;
}
@media (max-width: 576px) {
  .cinematv-wrapper {
    padding-top: 100px;
  }
}
