.contato-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: var(--staat);
  padding-top: 150px;
}
.contato-text {
  padding-top: 50px;
  font-family: var(--inria-sans);
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 576px) {
  .contato-wrapper {
    padding-top: 100px;
  }
}
