.contato-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-family: var(--staat);
  padding-top: 150px;
}
.contato-text {
  padding: 80px 0 0 10px;
  font-family: var(--inria-sans);
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
}
.form-row {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  padding-top: 50px;
}
.form-texts {
  width: 100%;
}
form input, form textarea, form select {
  width: 100%;
  padding: 12px;
  border: 1px solid var(--dark-gray);
  border-radius: 4px;
  resize: vertical;
  font-family: 'Rubik', sans-serif;
  background: #fff;
  color: #000;
}
form label {
  padding: 10px 0;
  display: inline-block;
  width: 100%;
  font-family: 'Rubik', sans-serif;
}
form button[type=submit] {
  background-color: var(--dark-gray);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-family: var(--staat);
}
form button[type=submit]:hover {
  background-color: var(--yellow);
  color: #000;
  font-family: var(--staat);
}
@media (max-width: 576px) {
  .contato-wrapper {
    padding-top: 100px;
  }
  .form-row {
    flex-flow: column;
  }
}
