.header-blog {
  height: auto;
  width: 100%;
}
.header-blog a {
  cursor: pointer;
}
.header-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
}
.header-wrapper-active {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.header-right-desk {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
.header-right-desk ul li a {
  font-family: var(--inria-sans);
  color: var(--dark-gray);
  font-size: 1rem;
  padding-right: 20px;
}
.header-right-desk ul li svg,
.header-right-mob ul li svg {
  position: relative;
  top: 6px;
  left: 2px;
}
.header-right-desk a:hover {
  font-style: italic;
  font-weight: bolder;
}
.logo-header {
  width: 100%;
  height: auto;
}
.logo-header img {
  max-width: 100%;
  height: 60px;
}
.menu-button {
  display: none;
}
.header-right-mob {
  display: none;
}
.layer {
  background: var(--light-blue);
  z-index: 99;
  width: 20%;
  height: auto;
  padding: 15px;
  font-weight: 400;
  font-size: 16px;
  font-family: var(--inria-sans);
  border: 2px solid #0d518c;
  text-align: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: column;
  -webkit-box-shadow: 6px 6px 0px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 0px -1px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 0px -1px rgba(0,0,0,0.75);
}
.layer a {
  color: #0d518c;
  padding: 0 0 15px 0;
}
.layer a:hover {
  font-style: italic;
  font-weight: bolder;
}
.header-right-mob {
  width: 100%;
  height: 100%;
}
.header-right-mob ul {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.header-right-mob ul li {
  padding-top: 25px;
}
.header-right-mob ul li a {
  font-family: var(--inria-sans);
  color: var(--dark-gray);
  font-size: 1rem;
}


/* desktop */

@media (max-width: 800px) {
  .header-blog .btns-wrapper {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    text-align: center;
  }
  .menu-button {
    display: flex;
  }
  .menu-button .x {
    margin-top: 25px;
  }
  .header-right-desk {
    display: none;
  }
  .header-right-mob a {
    padding-top: 20px;
  }
  .header-wrapper-active .header-right-mob {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  .layer {
    background: var(--light-blue);
    z-index: 99;
    width: 40%;
  }
}
