.home-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 150px 350px;
  text-align: center;
  font-family: var(--inria-sans);
}
