.home-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: var(--staat);
  padding: 150px 350px;
}
.home-wrapper h3 {
  font-family: var(--inria-sans);
  text-transform: uppercase;
  font-size: larger;
}
.home-wrapper img {
  max-width: 100%;
  width: 100px;
  margin-bottom: 20px;
}
#video-hero {
  width: 100vw;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}
@media (max-width: 900px) {
  .home-wrapper {
    padding: 0 0;
  }
}
@media (max-width: 900px) {
  .home-wrapper h3 {
    text-transform: uppercase;
    font-size: unset;
  }
}
