.post-item {
  width: 100%;
  height: auto;
}
.post-item img {
  width: 100%;
  height: auto;
}
.post-link {
  width: 100%;
  height: fit-content;
}
.vimeo-home {
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .img-home {
    height: 200px;
  }
}
