.excerpt {
  font-family: var(--inria-sans);
  color: var(--light-gray);
  padding: 0 0 10px;
}
.img-post {
  width: 100%;
  height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 30px;
}
.img-home {
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
.img-home:hover {
  height: 400px;
}
.post-item a {
  color: var(--dark-gray);
  text-decoration: none;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .img-post {
    height: 200px;
  }
}
