.post-item {
  width: 100%;
  height: 100%;
}
// .post-link {
//   font-family: var(--lora-serif);
//   color: var(--dark-gray);
//   font-weight: bolder;
//   font-size: 1.2rem;
// }
// .post-link:hover {
//   color: var(--light-gray);
//   font-style: italic;
// }
// .date-info {
//   font-family: var(--inria-sans);
//   color: var(--light-gray);
// }
.img-home {
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.vimeo-home {
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .img-home {
    height: 200px;
  }
}
